<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver" verbose="10">
    <test name="Run on Firefox browser">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="120"/>
        <classes>
            <class name="testng.Topic_09_Parameter" />
        </classes>
    </test>

    <!--<test name="Run on Chrome browser">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="121"/>
        <classes>
            <class name="testng.Topic_09_Parameter" />
        </classes>
    </test>

    <test name="Run on Edge browser">
        <parameter name="browser" value="edge"/>
        <parameter name="version" value="122"/>
        <classes>
            <class name="testng.Topic_09_Parameter" />
        </classes>
    </test>-->
</suite>